# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# qtcreator
CMakeLists.txt.user

# binary dir
bin/
build/

# VS Code
.vscode
build_vs/
.vs/
*.code-workspace

# misc workdir spam
imgui.ini


# Ignore Images
*.png
.polyscope.ini
**/__pycache__/**/*
**/*.lp


# Ignore data
*.onnx
*.pt
*.pcd
*.off
*.head
rays.in
rays.out

# Ignore logging
*.log

# Ignore Notebooks
*.ipynb

.venv/
linkml_py.egg-info/
*.whl
*.gz
